/*-----------------------GUIDLINES-GENERALES----------------------------------*/
*{
    margin: 0;
    padding: 0;
  }
body {
    background-color: bisque;
  }
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
/*-----------------------TIPOGRAFIA---------------------------------------------*/
h1{
  font-size: 3.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 2.7em;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
}
p {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1667rem;
    margin: 2rem 2rem 2rem 2rem;
  }
label {
  font-family: "Raleway", sans-serif;
  font-size: 1.1667rem;
  margin: 3em;
}
  /*adaptación de imagen a la pantalla*/
  img {
    max-width: 100%;
  }

/*-----------------------HEADER----------------------------------------------------*/
/*OJO ESTA PARA MOBILE*/
ul{
  list-style: none;
}
li {
  font-size: 1.25em;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding-bottom: 25px;
}

header a:hover{
  color: rgb(255, 255, 255);
}

header a{
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  text-decoration: none;
}

container {
  max-width: 1700px;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input, textarea {
  font-size: 1.1667rem;
  border: none;
  box-sizing: border-box;
  padding: 7px;
  margin-bottom: 20px;
  width: 100%;
}

textarea {
  min-height: 100px;
  max-width: 200px;
}

.header__logo{
  font-size: 2em;
  color: brown;
  font-weight: bolder;
  margin: 0;
  padding: 25px 30px;
}
.header__container{
  max-width: 1700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------------------CLASS HERO----------------------------------------------------*/
/*OJO ESTA PARA MOBILE*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero__text{
  color: rgb(255, 255, 255);
  width:  95%;
}
.hero__index__img{
  background-image: url("../img/1.bienvenidos.jpg");
}
.hero__cata__img {
  background-image: url("../img/3.vinos\ destacados.jpg");
}
.hero__vinedo__img{
  background-image: linear-gradient(0deg,
   rgba(0,0,0,0.5),
   rgba(0,0,0,0.5)
  )
  ,url("../img/7.mapa.jpg");
}
.vinedo__container {
  text-align: center;
  padding: 200px 12px;
}
.vinedo__container__title{
    color: rgb(236, 89, 89);
}
.cosecha__img {
  background-image: 
  linear-gradient(0deg,
   rgba(0,0,0,0.5),
   rgba(0,0,0,0.5)
  )
  ,url("../img/9.trabajo.jpg");
  
}
.cosecha__text {
  color: rgb(255, 255, 255);
}

/*-----------------------CLASS ORIGEN----------------------------------------------------*/
/*OJO ESTA PARA MOBILE*/
.historia__container {
  max-width: 1700px;
  margin: auto;
}
.historia__container {
  text-align: center;
  padding: 200px 12px;
}
.historia__container__title{
  color: rgb(105, 20, 20);
}
.origen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1700px;
  margin: auto;
}
.origen__container__img {
  background-image: url("../img/10.hacienda1.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.origen__container__img2 {
  background-image: url("../img/11.familia.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 5em;
  height: 500px;
  width: 100%;
}

.origen__container__img3 {
  background-image: url("../img/12.hacienda2.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 5em;
  height: 500px;
  width: 100%;
}

.origen__container__title{
  margin-top: 1em;
}
.origen__container__text{
  width:  95%;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1700px;
  margin: auto;
}
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´ Guidelines para card productos ´´´´´´´´´´´´´´´´´´´´´´´´´´*/
.card__h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.card__container {
  max-width: 1700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5em;
}
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: "Raleway", sans-serif;
  max-width: 300px;
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  border-radius: 10px;
}
.card__imagen {
  width: 300px;
}
.card__titulo {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.6999rem;
}
.card__descripcion {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1667rem;
  margin: 1rem 0;
}
.card__antiguedad {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1667rem;
  margin: 1rem 0;
}
.card__tamano {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1667rem;
  margin: 1rem 0;
}
.card__precio {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1667rem;
  margin: 1rem 0;
}
.card__oferta{
  background-color: rgb(240, 233, 140);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 1,10rem;
  position: absolute;
  top: -4px;
  right: -100px;
  height: 26px;
}
.boton {
  border: none;
  padding: 12px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 10px;
}
/*-----------------------VERSIÓN DESKTOP----------------------------------------------------*/
@media (min-width:720px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
  }
  .hero__text{
    width:  45%;
  }
  .historia__container {
    display: flex;
    justify-content: center;
  }
  .historia__img {
    background-image: url("../img/2.fachada_vinedos.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 40%;
  }
  .historia__container__text {
    margin-top: 4em;
    width: 40%;
    text-align: initial;
    padding: 0px 30px;
  }
  .card__container {
    max-width: 1700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
  }
  .card__h2{
    max-width: 1700px;
    margin: 1em 1em;
    justify-content: center;
  }

  .vinedo__container {
    display: flex;
    justify-content: center;
  }
  .vinedo__img {
    background-image: url("../img/8.vinedo.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 40%;
  }
  .vinedo__container__text {
    margin-top: 4em;
    width: 40%;
    text-align: initial;
    padding: 0px 30px;
  }

  .cosecha__text {
    width:  50%;
  }
  .origen{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .origen__container__title {
     margin-left: 0.6em;
  }
}